.landing-row {
    padding-top: 50px;
    z-index: 1;
}

.carousel {
    position: relative;
    height: 890px;
    background-color: lightgray;
}

.text {
    position: absolute;
    left: 38%;
    top: 47%;
    width: 100%;
}

.event-calendar {
    position: relative;
    width: 100%;
}

header{
    position: relative;
    width: 100%;
}

footer{
    position: relative;
    bottom: 0;
    width: 100%;
}