.landing-row {
    padding-top: 50px;
    z-index: 1;
}

.col-md-12 {
    position: relative;
    height: 890px;
    background-color: lightgray;
}

.text-black {
    position: absolute;
    top: 47%;
    width: 100%;
}

.col-md-6 {
    position: relative;
    width: 100%;
}

header{
    position: relative;
    width: 100%;
}

footer{
    position: relative;
    bottom: 0;
    width: 100%;
}